body
{
    height: 100%;
    background: #333 url(c.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ccc;
}

h1, h2
{
    
    font-weight: 200;
    margin: 10px;
}
h1
{
    padding-top: 200px;
    font-size: 80px;
}
h2
{
    font-size: 40px;
    color: #aaa;
}
@media(min-width:1200px)
{
    h1{font-size:80px}
}
@media(max-width:800px)
{
    h1{font-size: 70px;}
}
@media(max-width:500px)
{
    h1{font-size:50px;}
}